<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.its.rhCommunity.dto.MemberDTO" alias="member" />
        <typeAlias type="com.its.rhCommunity.dto.CommentDTO" alias="comment" />
        <typeAlias type="com.its.rhCommunity.dto.AttendanceDTO" alias="attendance" />
        <typeAlias type="com.its.rhCommunity.dto.AnnualHolidayDTO" alias="holiday" />
        <typeAlias type="com.its.rhCommunity.dto.RequestBoardDTO" alias="board" />
        <typeAlias type="com.its.rhCommunity.dto.NoticeDTO" alias="notice" />
        <typeAlias type="com.its.rhCommunity.dto.SalaryDTO" alias="salary" />
        <typeAlias type="com.its.rhCommunity.dto.AttendanceAdminDTO" alias="attAdminDTO" />
        <typeAlias type="com.its.rhCommunity.dto.HolidayAdminDTO" alias="holidayAdmin" />
    </typeAliases>
</configuration>