<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" keyProperty="id" useGeneratedKeys="true">
        insert into members_table (memberId, memberPassword, memberName, groupNo, memberGroup, deptNo, memberDept, memberTeam, memberDuty, memberPosition, memberJoinDate, memberIdNum, memberBirthDay, gender, health, maritalStatus, impairment, levImpairment, memberAddress, memberEmail, memberMobile, memberProfileName, salary, stockOption, contractOption, hobby, specialty, religion, education1, education2, career1, career2, career3,license)
        values (#{memberId}, #{memberPassword}, #{memberName}, #{groupNo}, #{memberGroup}, #{deptNo}, #{memberDept}, #{memberTeam}, #{memberDuty}, #{memberPosition}, DATE_FORMAT(now(),'%Y-%m-%d'), #{memberIdNum}, #{memberBirthDay}, #{gender}, #{health}, #{maritalStatus}, #{impairment}, #{levImpairment}, #{memberAddress}, #{memberEmail}, #{memberMobile}, #{memberProfileName}, #{salary}, #{stockOption}, #{contractOption}, #{hobby}, #{specialty}, #{religion}, #{education1}, #{education2}, #{career1}, #{career2}, #{career3}, #{license})
    </insert>
    <select id="login" parameterType="member" resultType="member">
        select * from members_table where memberId=#{memberId} and memberPassword=#{memberPassword}
    </select>
    <select id="findAll" resultType="member">
        select * from members_table
    </select>
    <select id="findById" parameterType="Long" resultType="member">
        select * from members_table where id=#{id}
    </select>
    <delete id="delete" parameterType="Long">
        delete from members_table where id=#{id}
    </delete>
    <update id="update" parameterType="member">
        update members_table set memberPassword=#{memberPassword}, memberName=#{memberName}, groupNo=#{groupNo}, memberGroup=#{memberGroup}, deptNo=#{deptNo}, memberDept=#{memberDept}, memberTeam=#{memberTeam}, memberDuty=#{memberDuty}, memberPosition=#{memberPosition}, memberIdNum=#{memberIdNum}, memberBirthday=#{memberBirthDay}, gender=#{gender}, health=#{health}, maritalStatus=#{maritalStatus}, impairment=#{impairment}, levImpairment=#{levImpairment}, memberAddress=#{memberAddress}, memberEmail=#{memberEmail}, memberMobile=#{memberMobile},memberProfileName=#{memberProfileName}, salary=#{salary}, stockOption=#{stockOption}, contractOption=#{contractOption}, hobby=#{hobby}, specialty=#{specialty}, religion=#{religion}, education1=#{education1}, education2=#{education2}, career1=#{career1}, career2=#{career2}, career3=#{career3}, license=#{license} where id=#{id}
    </update>
    <select id="findNew" resultType="member">
        select * from members_table where date_format(memberJoinDate,'%Y-%m')=date_format(now(),'%Y-%m') order by id desc limit 5
    </select>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="member">
        select * from members_table order by id desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from members_table
    </select>
    <select id="findByMemberId" parameterType="String" resultType="member">
        SELECT * FROM members_table WHERE memberId = #{memberId}
    </select>
    <select id="findByName" parameterType="String" resultType="member">
        SELECT * FROM members_table WHERE memberName = #{memberName}
    </select>
<!--    <select id="findLastMember" resultType="member">-->
<!--        SELECT * FROM members_table WHERE id = max(id)-->
<!--    </select>-->
</mapper>