<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <select id="findAll" resultType="board">
        select * from requestBoard_table
    </select>
    <insert id="save" parameterType="board">
        insert into requestBoard_table (writerId, dept, position, title, contents, createdDate, fileName)
        values (#{writerId}, #{dept}, #{position}, #{title}, #{contents}, now(), #{fileName})
    </insert>
    <select id="findById" parameterType="Long" resultType="board">
        select * from requestBoard_table where id=#{id}
    </select>
    <update id="update" parameterType="board">
        update requestBoard_table set title=#{title}, contents=#{contents} where id=#{id}
    </update>
    <delete id="delete" parameterType="Long">
        delete from requestBoard_table where id=#{id}
    </delete>
</mapper>